.l-news {
  position: relative;
  width: 280px;
  height: 230px;
  img {
    height: 200px;
    width: 300px;
  }
}

.l-news .news-conte {
  position: absolute;
  bottom: -60%;
  left: 7%;
  background: var(--white);
  padding: 25px;
}

.l-news .news-conte .date-news {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.l-news .news-conte .date-news p {
  color: var(--light-black);
  text-align: center;
  padding: 15px 0;
}

.l-news .news-conte .date-news h4 {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  padding-bottom: 15px;
}

.l-news .news-conte .date-news a {
  text-decoration: none;
  text-align: center;
  padding: 0 50px;
  color: var(--primary-color);
  position: relative;
  font-weight: 600;
  width: 100%;
}

.l-news .news-conte .date-news a::after {
  content: "";
  position: absolute;
  background: var(--primary-color);
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.l-news .news-conte .date-news a:hover:after {
  width: 0%;
}

.l-news .news-conte .date-news a:hover {
  color: var(--black);
}
